{% extends 'base.html' %}
{% load static %}
{% block meta_links %}

{% endblock %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'css/opener.css' %}">
{% endblock %}

{% block title %}
Home
{% endblock %}







{% block content %}
<div class="container">

    <div class="circle"></div>

    <h1>Introduction</h1>

    <p>AGRO BARS is a concept of four individuals to eliminate the barrier between the buyer and seller in the agro
        market
        of Nepal. The Agro BARS focuses on the deliver of quality product from buyer to the seller without itself being
        involved. The unique feature of AGRO BARS is that it provides the user ie buyer and seller a common communication platform for negotiation. The key focuse are of agro bar is to eliminate the third party involved in the agro transaction and provide the right amount of payment which the farmer rightfully deserve.</p>


</div>
{% endblock %}

{% block script_links %}

{% endblock %}
{% block script %}

{% endblock %}